<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'customer/styles.css' %}">
    <title>Liste des Clients</title>
</head>
<body>
    <h1>Liste des Clients</h1>
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Email</th>
                <th>Actif</th>
                <th>Date de création</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customer %}
                <tr>
                    <td>{{ customer.name }}</td>
                    <td>{{ customer.email }}</td>
                    <td>{{ customer.active }}</td>
                    <td>{{ customer.date_created }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
